body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
.header{
  display:flex;
  position:fixed;
  z-index: 1;
  height:69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
}
.logo{
  display: flex;
  height: 50px;
  padding-left: 10px;
  flex-grow: 1;

}
nav span{
  display: inline-block;
  padding-right: 15px;
}
a {
  color: seashell;
}

.ourmission{
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  top: 75px;
  position: relative;
  border: 3px solid red;
}
.missionstatement{
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 1200px;
  text-align: center;
  background-color:black;
  margin-top: 275px;
}
#featuredtea{
  width: 1000px;
  height: 200px;
  border: 1px solid blue;
  position: relative;
  top: 75px;
  display: block;
  margin-left: 100px;
  align-content: center;
}
.teas{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 500px;
  align-content: center;
  border: 1px solid red;
  position:relative;
  top: 75px;
}
.teas img{
  height:200px;
  width: 300px;
}
